/**
 * Variables
 *
 * @author magnify
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Colors that can be configured through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author magnify
 */
/* Body */
/* Topbar */
/* Header */
/* Navigation */
/* Tabroll */
/* Links */
/* Labels */
/* Content */
/* List */
/* Footer */
/* Buttons */
/* Dialog box */
/* Funny facts */
/* Carousel */
/**
 * Rules that can be configured is located in this file.
 *
 * @author magnify
 */
/* Topbar background color */
.topbar {
  padding-top: 20px;
  background-color: #ececec;
}

/* Header background color */
.header-wrapper {
  background-color: #6bafdb;
}

/* Navigation background color */
.navigation-wrapper {
  background-color: #1f3245;
}

/* Links */
a {
  font-weight: 400;
}
a:link {
  color: #fb9900;
  text-decoration: none;
}
a:visited {
  color: #ae6a00;
  text-decoration: none;
}
a:hover {
  color: #b46e01;
  text-decoration: underline;
}
a:hover i[class^="icon-"] {
  text-decoration: none;
}
a:focus {
  color: #b46e01;
}

/* Layout background color */
.layout-wrapper {
  background-color: #fffffe;
}

/* Article background extends */
/* Footer background color */
.footer {
  background-color: #8cc63c;
}

/* Bottom background color */
.bottom {
  background-color: #7eb435;
}

/**
 * Mixins
 *
 * @author magnify
 */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
/**
 * Buttons
 *
 * @author magnify
 */
/* Variables
   ========================================================================== */
/* Extends
   ========================================================================== */
.field-name-ding-entity-buttons .reserve-button, .button-see-online {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  font-size: 100%;
  padding: 8px 14px;
  position: relative;
  box-shadow: 0 0 1px #595959 inset;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}
.field-name-ding-entity-buttons .reserve-button:focus, .button-see-online:focus, .field-name-ding-entity-buttons .reserve-button:hover, .button-see-online:hover, .field-name-ding-entity-buttons .reserve-button:active, .button-see-online:active {
  text-decoration: none;
}
.field-name-ding-entity-buttons .disabled.reserve-button, .disabled.button-see-online, .field-name-ding-entity-buttons [disabled].reserve-button, [disabled].button-see-online {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Mixins
   ========================================================================== */
/* Default button, we dont use gradiant mixin sin since it's part of color module */
.button,
a.button {
  background-color: #444443;
  border: 1px;
  color: #fffff8;
  line-height: 100%;
  padding: 8px 14px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444443), color-stop(100%, #1e1e1f));
  background-image: -moz-linear-gradient(#444443, #1e1e1f);
  background-image: -webkit-linear-gradient(#444443, #1e1e1f);
  background-image: linear-gradient(#444443, #1e1e1f);
}
.button:link, .button:visited, .button:focus, .button:active,
a.button:link,
a.button:visited,
a.button:focus,
a.button:active {
  color: #fffff8;
  text-decoration: none;
  background-image: none;
  background-color: #444443;
}
.button:hover,
a.button:hover {
  background-color: #1e1e1e;
  background-image: none;
}

/* Default button */
/* Theme button */
/* Action button */
.field-name-ding-entity-buttons .reserve-button, .button-see-online {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwYTUwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60a500), color-stop(100%, #335900));
  background-image: -moz-linear-gradient(#60a500, #335900);
  background-image: -webkit-linear-gradient(#60a500, #335900);
  background-image: linear-gradient(#60a500, #335900);
  /* Make sure buttons get a background color in IE */
  background-color: #60a500;
  border: 0;
  color: #fff;
}
.field-name-ding-entity-buttons .reserve-button:link, .button-see-online:link, .field-name-ding-entity-buttons .reserve-button:visited, .button-see-online:visited {
  color: #fff;
}
.field-name-ding-entity-buttons .reserve-button:link, .button-see-online:link, .field-name-ding-entity-buttons .reserve-button:visited, .button-see-online:visited, .field-name-ding-entity-buttons .reserve-button:focus, .button-see-online:focus, .field-name-ding-entity-buttons .reserve-button:hover, .button-see-online:hover, .field-name-ding-entity-buttons .reserve-button:active, .button-see-online:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOGIwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1M2YwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #518b00), color-stop(100%, #253f00));
  background-image: -moz-linear-gradient(#518b00, #253f00);
  background-image: -webkit-linear-gradient(#518b00, #253f00);
  background-image: linear-gradient(#518b00, #253f00);
  background-color: #335900;
}

/* Warning button */
/* Danger button */
/* Don't use native buttons on iOS */
input[type=submit].button,
button.button {
  -webkit-appearance: none;
}

/* Correct FF button padding */
@-moz-document url-prefix() {
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}
/**
 * Rules that can be configured is located in this file.
 */
/* Topbar background color */
.topbar {
  background-color: #ececec;
}

/* Header background color */
.header-wrapper {
  background-color: #6bafdb;
}

/* Navigation background color */
.navigation-wrapper {
  background-color: #1f3245;
}

/* Links */
a:link {
  color: #fb9900;
}
a:hover {
  color: #b46e01;
}
a:focus {
  color: #b46e01;
}

/* Layout background color */
.layout-wrapper {
  background-color: #fffffe;
}

/* Article background extends */
/* Footer background color */
.footer {
  background-color: #8cc63c;
}

/* Bottom background color */
.bottom {
  background-color: #7eb435;
}

/**
 * Base
 */
body {
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.7);
}

a:link {
  color: rgba(0, 0, 0, 0.7);
}
a:visited {
  color: rgba(0, 0, 0, 0.7);
}
a:hover {
  color: rgba(0, 0, 0, 0.7);
}
a:focus {
  color: rgba(0, 0, 0, 0.7);
}
a:active {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

/* Fieldset
   ========================================================================== */
fieldset {
  border-color: #efefef;
}

/**
 * Buttons
 */
/* Mixins
   ========================================================================== */
/* Default button, we dont use gradiant mixin sin since it's part of color module */
.button,
a.button {
  background-color: #444443;
  color: #fffff8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444443), color-stop(100%, #1e1e1f));
  background-image: -moz-linear-gradient(#444443, #1e1e1f);
  background-image: -webkit-linear-gradient(#444443, #1e1e1f);
  background-image: linear-gradient(#444443, #1e1e1f);
}
.button:link, .button:visited, .button:focus, .button:active,
a.button:link,
a.button:visited,
a.button:focus,
a.button:active {
  color: #fffff8;
  background-color: #444443;
}
.button:hover,
a.button:hover {
  background-color: #1e1e1e;
}

/* Default button */
/* Theme button */
/* Action button */
.field-name-ding-entity-buttons .reserve-button, .button-see-online {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwYTUwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60a500), color-stop(100%, #335900));
  background-image: -moz-linear-gradient(#60a500, #335900);
  background-image: -webkit-linear-gradient(#60a500, #335900);
  background-image: linear-gradient(#60a500, #335900);
  /* Make sure buttons get a background color in IE */
  background-color: #60a500;
  color: #fff;
}
.field-name-ding-entity-buttons .reserve-button:link, .button-see-online:link, .field-name-ding-entity-buttons .reserve-button:visited, .button-see-online:visited {
  color: #fff;
}
.field-name-ding-entity-buttons .reserve-button:link, .button-see-online:link, .field-name-ding-entity-buttons .reserve-button:visited, .button-see-online:visited, .field-name-ding-entity-buttons .reserve-button:focus, .button-see-online:focus, .field-name-ding-entity-buttons .reserve-button:hover, .button-see-online:hover, .field-name-ding-entity-buttons .reserve-button:active, .button-see-online:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOGIwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1M2YwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #518b00), color-stop(100%, #253f00));
  background-image: -moz-linear-gradient(#518b00, #253f00);
  background-image: -webkit-linear-gradient(#518b00, #253f00);
  background-image: linear-gradient(#518b00, #253f00);
  background-color: #335900;
}

/* Warning button */
/* Danger button */
/**
 * Labels
 */
.label {
  /* Make sure it works with a wrapper */
}
.label a {
  background-color: #8cc63a;
  color: #fffffd;
}
.label a:link, .label a:visited {
  color: #fffffd;
}
.label a:hover {
  background-color: #8cc63b;
  color: #fafaf7;
}

/**
 * Navigation
 */
/* Topbar menu
   ========================================================================== */
.topbar-menu .menu-item {
  color: #1f3244;
}

/* Sub menu
   ========================================================================== */
.sub-menu > li a {
  color: #fb9900;
}
.sub-menu > li a:hover {
  color: #b46e01;
}
.sub-menu li:before {
  color: #fb9900;
}

/* Footer menus
   ========================================================================== */
.footer .pane-title {
  color: #fffff9;
}
.footer .menu li:before {
  color: #fffff9;
}
.footer .menu li a {
  color: #fffff9;
}

/* Action Links
   ========================================================================== */
.action-links li {
  color: #fb9900;
}
.action-links li:before {
  color: #fb9900;
}

/**
 * Layout
 */
.bottom {
  background-color: #191919;
}

.pane-alma-item-list {
  background-color: #fffffe;
}

/**
 * Carousel
 */
.rs-carousel-inner {
  background-color: #d8d8d8;
}

/* Pagination and previous and next buttons
   ========================================================================== */
.rs-carousel-action-prev,
.rs-carousel-action-next {
  background-color: #6bafdb;
}

/* Carousel tabs
   ========================================================================== */
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a {
  background-color: #7f7f7f;
}
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a:hover {
  background-color: #b7b7b5;
}
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a {
  background-color: #b7b7b5;
}
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a:before {
  border: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  top: -20px;
  border-bottom-color: #b7b7b5;
  margin-left: -10px;
  left: 50%;
}

/**
 * Item list
 */
.pane-ding-item-list {
  background-color: #fffffe;
}

/**
 * Item viewer
 */
.ding-item-viewer .ui-tabs-nav {
  background: #7eb435;
}

.view-mode-ding-item-viewer-small .image-wrapper {
  background: #7eb435;
}

/**
 * Ding nodelist
 */
.ding_nodelist .event-time .event-day {
  background: #fb9900;
}
.ding_nodelist .event-label {
  background-image: #8cc63a;
}
.ding_nodelist .node, .ding_nodelist.ding_nodelist-horizontal_accordion .data {
  background-image: #8cc63a;
}

.ding_nodelist-carousel .next-prev .prev:hover,
.ding_nodelist-carousel .next-prev .next:hover {
  background-color: #fb9900;
}
.ding_nodelist-carousel .next-prev .prev:after,
.ding_nodelist-carousel .next-prev .next:after {
  color: #fb9900;
}
.ding_nodelist-carousel .pagination .selected {
  background-color: #fb9900;
}

.ding_nodelist-single {
  background-color: #fffffe;
}

.ding_nodelist-slider .next-prev a:hover {
  background-color: #fb9900;
}

.ding_nodelist-taxonomy .item:nth-child(odd) {
  background-color: #e8e8e8;
}
.ding_nodelist-taxonomy .item:nth-child(even) {
  background-color: #f2f2f2;
}

/**
 * Ding ting type search
 */
.pane-easyddb-search-ext-search-ext {
  background-color: #fffffe;
}

/**
 * Event styling
 */
/* Event list
   ========================================================================== */
.event-list .event-list-item:nth-child(odd) {
  background-color: #e8e8e8;
}
.event-list .event-list-item:nth-child(even) {
  background-color: #f2f2f2;
}

/**
 * Groups
 */
/* Groups lists
   ========================================================================== */
.groups-list .groups-list-item {
  background-color: #ebebeb;
}
.groups-list .groups-list-item:nth-child(odd) {
  background-color: #e8e8e8;
}
.groups-list .groups-list-item:nth-child(even) {
  background-color: #f2f2f2;
}

/**
 * News
 */
.news-list .news-list-item {
  background-color: #ebebeb;
}
.news-list .news-list-item:nth-child(odd) {
  background-color: #e8e8e8;
}
.news-list .news-list-item:nth-child(even) {
  background-color: #f2f2f2;
}

/**
 * Opening hours
 */
.opening-hours-week .days .odd {
  background-color: #e8e8e8;
}
.opening-hours-week .days .even {
  background-color: #f2f2f2;
}

.pane-ding-library-opening-hours-ding-library-opened-today {
  background-color: #fffffe;
}

/**
 * Search
 */
.pane-ding-facetbrowser a:visited {
  color: #fb9900;
}

.pane-ting-search-records-per-page a {
  border-right-color: #b46e01;
}
.pane-ting-search-records-per-page a.selected {
  color: #b46e01;
}

.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-short:before,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-long:after {
  color: #fb9900;
}

/* Search autocomplete
   ========================================================================== */
#autocomplete li a {
  color: rgba(0, 0, 0, 0.7);
}

/**
 * Staff
 */
.staff-list .staff-list-item:nth-child(odd),
.staff-list-all .staff-list-item:nth-child(odd) {
  background-color: #e8e8e8;
}
.staff-list .staff-list-item:nth-child(even),
.staff-list-all .staff-list-item:nth-child(even) {
  background-color: #f2f2f2;
}

/**
 * User
 */
.user-status-loan,
.user-status-reservation {
  color: #fb9900;
}

/**
 * Ding search related
 *
 * @author ac
 */
.view-ting-search-related-content {
  background-color: #e8e8e8;
}
.view-ting-search-related-content .views-field-title a:link,
.view-ting-search-related-content .views-field-title a:hover,
.view-ting-search-related-content .views-field-title a:visited {
  color: rgba(0, 0, 0, 0.7);
}

body {
  font-size: 110%;
}

.search label,
.search-field-in-content label,
.user label {
  color: #1f3244;
}

.topbar-menu .menu-item {
  color: #1f3244;
}

.topbar-menu .menu-item.active,
.topbar-menu .menu-item:hover {
  background-color: #6bafdb;
}

.site-name a {
  display: none;
}

.main-menu .menu-item,
.header-wrapper .pane-user-menu .sub-menu .menu-item,
.secondary-menu .menu-item,
.system-user-menu .menu-item {
  color: #fffffc;
}

.main-menu .menu-item.active,
.header-wrapper .pane-user-menu .sub-menu .menu-item.active,
.secondary-menu .menu-item.active,
.system-user-menu .menu-item.active,
.pane-ding-facetbrowser a:visited,
.pane-search-backends a:visited,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-short:before,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-long:after,
.pane-ting-object .collapsible .field-group-format-title:before,
.pane-ting-object .ding-periodical-fold:before,
.main-menu .menu-item:hover,
.header-wrapper .pane-user-menu .sub-menu .menu-item:hover,
.secondary-menu .menu-item:hover,
.system-user-menu .menu-item:hover {
  color: #8cc63e;
}

.label a:link,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:link,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:link,
.subjects .subject a:link,
.news-list .news-label a:link,
.super-heading .field-name-field-ding-news-library .field-item a:link,
.label a:visited,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:visited,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:visited,
.subjects .subject a:visited,
.news-list .news-label a:visited,
.super-heading .field-name-field-ding-news-library .field-item a:visited {
  background-color: #8cc63a;
}

.ding_nodelist .event-time .event-day,
.ding_nodelist-carousel .pagination .selected,
.ding_nodelist-slider .next-prev a:hover,
.event-list-leaf .event-list-day {
  background-color: #fb9900;
}

.sub-menu > li a,
.sub-menu li:before {
  color: #fb9900;
}

.sub-menu > li a:hover,
.sub-menu li:before:hover {
  color: #b46e01;
}

.bottom {
  background-color: #191919;
}

.ding_nodelist-carousel .node,
.ding_nodelist.ding_nodelist-horizontal_accordion .data,
.ding_nodelist-single .node,
.ding_nodelist-vertical_accordion .va-content {
  background: rgba(31, 50, 69, 0.85);
}

.field-name-ding-entity-buttons .reserve-button:link,
.button-see-online:link,
.ticket-available:link,
.pane-reservations .renew-loan-button .renewable:link,
.pane-loans .renew-loan-button .renewable:link,
.pane-debts .renew-loan-button .renewable:link,
.pane-bookmarks .renew-loan-button .renewable:link,
.pane-reservations .reserve-button:link,
.pane-loans .reserve-button:link,
.pane-debts .reserve-button:link,
.pane-bookmarks .reserve-button:link,
.pane-reservations .update-reservations .form-submit:link,
.pane-reservations .renew-loan-button .form-submit:link,
.pane-loans .update-reservations .form-submit:link,
.pane-loans .renew-loan-button .form-submit:link,
.pane-debts .update-reservations .form-submit:link,
.pane-debts .renew-loan-button .form-submit:link,
.pane-bookmarks .update-reservations .form-submit:link,
.pane-bookmarks .renew-loan-button .form-submit:link,
.pane-debts .pay-button .form-submit:link,
.alma-item-list .item-details .reserve-button:link,
.ding-item-list-item .item-details .reserve-button:link,
.field-name-ding-entity-buttons .reserve-button:visited,
.button-see-online:visited,
.ticket-available:visited,
.pane-reservations .renew-loan-button .renewable:visited,
.pane-loans .renew-loan-button .renewable:visited,
.pane-debts .renew-loan-button .renewable:visited,
.pane-bookmarks .renew-loan-button .renewable:visited,
.pane-reservations .reserve-button:visited,
.pane-loans .reserve-button:visited,
.pane-debts .reserve-button:visited,
.pane-bookmarks .reserve-button:visited,
.pane-reservations .update-reservations .form-submit:visited,
.pane-reservations .renew-loan-button .form-submit:visited,
.pane-loans .update-reservations .form-submit:visited,
.pane-loans .renew-loan-button .form-submit:visited,
.pane-debts .update-reservations .form-submit:visited,
.pane-debts .renew-loan-button .form-submit:visited,
.pane-bookmarks .update-reservations .form-submit:visited,
.pane-bookmarks .renew-loan-button .form-submit:visited,
.pane-debts .pay-button .form-submit:visited,
.alma-item-list .item-details .reserve-button:visited,
.ding-item-list-item .item-details .reserve-button:visited,
.field-name-ding-entity-buttons .reserve-button:focus,
.button-see-online:focus,
.ticket-available:focus,
.pane-reservations .renew-loan-button .renewable:focus,
.pane-loans .renew-loan-button .renewable:focus,
.pane-debts .renew-loan-button .renewable:focus,
.pane-bookmarks .renew-loan-button .renewable:focus,
.pane-reservations .reserve-button:focus,
.pane-loans .reserve-button:focus,
.pane-debts .reserve-button:focus,
.pane-bookmarks .reserve-button:focus,
.pane-reservations .update-reservations .form-submit:focus,
.pane-reservations .renew-loan-button .form-submit:focus,
.pane-loans .update-reservations .form-submit:focus,
.pane-loans .renew-loan-button .form-submit:focus,
.pane-debts .update-reservations .form-submit:focus,
.pane-debts .renew-loan-button .form-submit:focus,
.pane-bookmarks .update-reservations .form-submit:focus,
.pane-bookmarks .renew-loan-button .form-submit:focus,
.pane-debts .pay-button .form-submit:focus,
.alma-item-list .item-details .reserve-button:focus,
.ding-item-list-item .item-details .reserve-button:focus,
.field-name-ding-entity-buttons .reserve-button:hover,
.button-see-online:hover,
.ticket-available:hover,
.pane-reservations .renew-loan-button .renewable:hover,
.pane-loans .renew-loan-button .renewable:hover,
.pane-debts .renew-loan-button .renewable:hover,
.pane-bookmarks .renew-loan-button .renewable:hover,
.pane-reservations .reserve-button:hover,
.pane-loans .reserve-button:hover,
.pane-debts .reserve-button:hover,
.pane-bookmarks .reserve-button:hover,
.pane-reservations .update-reservations .form-submit:hover,
.pane-reservations .renew-loan-button .form-submit:hover,
.pane-loans .update-reservations .form-submit:hover,
.pane-loans .renew-loan-button .form-submit:hover,
.pane-debts .update-reservations .form-submit:hover,
.pane-debts .renew-loan-button .form-submit:hover,
.pane-bookmarks .update-reservations .form-submit:hover,
.pane-bookmarks .renew-loan-button .form-submit:hover,
.pane-debts .pay-button .form-submit:hover,
.alma-item-list .item-details .reserve-button:hover,
.ding-item-list-item .item-details .reserve-button:hover,
.field-name-ding-entity-buttons .reserve-button:active,
.button-see-online:active,
.ticket-available:active,
.pane-reservations .renew-loan-button .renewable:active,
.pane-loans .renew-loan-button .renewable:active,
.pane-debts .renew-loan-button .renewable:active,
.pane-bookmarks .renew-loan-button .renewable:active,
.pane-reservations .reserve-button:active,
.pane-loans .reserve-button:active,
.pane-debts .reserve-button:active,
.pane-bookmarks .reserve-button:active,
.pane-reservations .update-reservations .form-submit:active,
.pane-reservations .renew-loan-button .form-submit:active,
.pane-loans .update-reservations .form-submit:active,
.pane-loans .renew-loan-button .form-submit:active,
.pane-debts .update-reservations .form-submit:active,
.pane-debts .renew-loan-button .form-submit:active,
.pane-bookmarks .update-reservations .form-submit:active,
.pane-bookmarks .renew-loan-button .form-submit:active,
.pane-debts .pay-button .form-submit:active,
.alma-item-list .item-details .reserve-button:active,
.ding-item-list-item .item-details .reserve-button:active,
.form-submit, #edit-cancel, .search .form-submit,
.search-field-in-content .form-submit,
.user .form-submit,
.field-name-ding-entity-buttons .action-button,
.bookmark-button {
  background: #8cc63a;
  box-shadow: none;
}
