body {
  font-size: 110%;
}

.search label,
.search-field-in-content label,
.user label {
  color: $topbar-text-color;
}

.topbar-menu .menu-item {
  color: $topbar-text-color;
}

.topbar-menu {
  .menu-item.active,
  .menu-item:hover {
    background-color: $header-background-color;
  }
}

.site-name a {
  display: none;
}

.main-menu .menu-item,
.header-wrapper .pane-user-menu .sub-menu .menu-item,
.secondary-menu .menu-item,
.system-user-menu .menu-item {
  color: $navigation-text-color;
}

.main-menu .menu-item.active,
.header-wrapper .pane-user-menu .sub-menu .menu-item.active,
.secondary-menu .menu-item.active,
.system-user-menu .menu-item.active,
.pane-ding-facetbrowser a:visited,
.pane-search-backends a:visited,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-short:before,
.pane-ding-toggle-format-toggle #ding-toggle-format.ding-toggle-format-long:after,
.pane-ting-object .collapsible .field-group-format-title:before,
.pane-ting-object .ding-periodical-fold:before,
.main-menu .menu-item:hover,
.header-wrapper .pane-user-menu .sub-menu .menu-item:hover,
.secondary-menu .menu-item:hover,
.system-user-menu .menu-item:hover {
  color: $navigation-text-color-active;
}

.label a:link,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:link,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:link,
.subjects .subject a:link,
.news-list .news-label a:link,
.super-heading .field-name-field-ding-news-library .field-item a:link,
.label a:visited,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:visited,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:visited,
.subjects .subject a:visited,
.news-list .news-label a:visited,
.super-heading .field-name-field-ding-news-library .field-item a:visited {
  background-color: $label-bg-color;
}

.ding_nodelist .event-time .event-day,
.ding_nodelist-carousel .pagination .selected,
.ding_nodelist-slider .next-prev a:hover,
.event-list-leaf .event-list-day {
  background-color: $link-color;
}

.sub-menu > li a,
.sub-menu li:before {
  color: $link-color;
}

.sub-menu > li a:hover,
.sub-menu li:before:hover {
  color: $link-color-hover;
}

.bottom {
  background-color: $bottom-background-color;
}

.ding_nodelist-carousel .node,
.ding_nodelist.ding_nodelist-horizontal_accordion .data,
.ding_nodelist-single .node,
.ding_nodelist-vertical_accordion .va-content {
  background: transparentize($navigation-background-color, .15);
}

.field-name-ding-entity-buttons .reserve-button:link,
.button-see-online:link,
.ticket-available:link,
.pane-reservations .renew-loan-button .renewable:link,
.pane-loans .renew-loan-button .renewable:link,
.pane-debts .renew-loan-button .renewable:link,
.pane-bookmarks .renew-loan-button .renewable:link,
.pane-reservations .reserve-button:link,
.pane-loans .reserve-button:link,
.pane-debts .reserve-button:link,
.pane-bookmarks .reserve-button:link,
.pane-reservations .update-reservations .form-submit:link,
.pane-reservations .renew-loan-button .form-submit:link,
.pane-loans .update-reservations .form-submit:link,
.pane-loans .renew-loan-button .form-submit:link,
.pane-debts .update-reservations .form-submit:link,
.pane-debts .renew-loan-button .form-submit:link,
.pane-bookmarks .update-reservations .form-submit:link,
.pane-bookmarks .renew-loan-button .form-submit:link,
.pane-debts .pay-button .form-submit:link,
.alma-item-list .item-details .reserve-button:link,
.ding-item-list-item .item-details .reserve-button:link,
.field-name-ding-entity-buttons .reserve-button:visited,
.button-see-online:visited,
.ticket-available:visited,
.pane-reservations .renew-loan-button .renewable:visited,
.pane-loans .renew-loan-button .renewable:visited,
.pane-debts .renew-loan-button .renewable:visited,
.pane-bookmarks .renew-loan-button .renewable:visited,
.pane-reservations .reserve-button:visited,
.pane-loans .reserve-button:visited,
.pane-debts .reserve-button:visited,
.pane-bookmarks .reserve-button:visited,
.pane-reservations .update-reservations .form-submit:visited,
.pane-reservations .renew-loan-button .form-submit:visited,
.pane-loans .update-reservations .form-submit:visited,
.pane-loans .renew-loan-button .form-submit:visited,
.pane-debts .update-reservations .form-submit:visited,
.pane-debts .renew-loan-button .form-submit:visited,
.pane-bookmarks .update-reservations .form-submit:visited,
.pane-bookmarks .renew-loan-button .form-submit:visited,
.pane-debts .pay-button .form-submit:visited,
.alma-item-list .item-details .reserve-button:visited,
.ding-item-list-item .item-details .reserve-button:visited,
.field-name-ding-entity-buttons .reserve-button:focus,
.button-see-online:focus,
.ticket-available:focus,
.pane-reservations .renew-loan-button .renewable:focus,
.pane-loans .renew-loan-button .renewable:focus,
.pane-debts .renew-loan-button .renewable:focus,
.pane-bookmarks .renew-loan-button .renewable:focus,
.pane-reservations .reserve-button:focus,
.pane-loans .reserve-button:focus,
.pane-debts .reserve-button:focus,
.pane-bookmarks .reserve-button:focus,
.pane-reservations .update-reservations .form-submit:focus,
.pane-reservations .renew-loan-button .form-submit:focus,
.pane-loans .update-reservations .form-submit:focus,
.pane-loans .renew-loan-button .form-submit:focus,
.pane-debts .update-reservations .form-submit:focus,
.pane-debts .renew-loan-button .form-submit:focus,
.pane-bookmarks .update-reservations .form-submit:focus,
.pane-bookmarks .renew-loan-button .form-submit:focus,
.pane-debts .pay-button .form-submit:focus,
.alma-item-list .item-details .reserve-button:focus,
.ding-item-list-item .item-details .reserve-button:focus,
.field-name-ding-entity-buttons .reserve-button:hover,
.button-see-online:hover,
.ticket-available:hover,
.pane-reservations .renew-loan-button .renewable:hover,
.pane-loans .renew-loan-button .renewable:hover,
.pane-debts .renew-loan-button .renewable:hover,
.pane-bookmarks .renew-loan-button .renewable:hover,
.pane-reservations .reserve-button:hover,
.pane-loans .reserve-button:hover,
.pane-debts .reserve-button:hover,
.pane-bookmarks .reserve-button:hover,
.pane-reservations .update-reservations .form-submit:hover,
.pane-reservations .renew-loan-button .form-submit:hover,
.pane-loans .update-reservations .form-submit:hover,
.pane-loans .renew-loan-button .form-submit:hover,
.pane-debts .update-reservations .form-submit:hover,
.pane-debts .renew-loan-button .form-submit:hover,
.pane-bookmarks .update-reservations .form-submit:hover,
.pane-bookmarks .renew-loan-button .form-submit:hover,
.pane-debts .pay-button .form-submit:hover,
.alma-item-list .item-details .reserve-button:hover,
.ding-item-list-item .item-details .reserve-button:hover,
.field-name-ding-entity-buttons .reserve-button:active,
.button-see-online:active,
.ticket-available:active,
.pane-reservations .renew-loan-button .renewable:active,
.pane-loans .renew-loan-button .renewable:active,
.pane-debts .renew-loan-button .renewable:active,
.pane-bookmarks .renew-loan-button .renewable:active,
.pane-reservations .reserve-button:active,
.pane-loans .reserve-button:active,
.pane-debts .reserve-button:active,
.pane-bookmarks .reserve-button:active,
.pane-reservations .update-reservations .form-submit:active,
.pane-reservations .renew-loan-button .form-submit:active,
.pane-loans .update-reservations .form-submit:active,
.pane-loans .renew-loan-button .form-submit:active,
.pane-debts .update-reservations .form-submit:active,
.pane-debts .renew-loan-button .form-submit:active,
.pane-bookmarks .update-reservations .form-submit:active,
.pane-bookmarks .renew-loan-button .form-submit:active,
.pane-debts .pay-button .form-submit:active,
.alma-item-list .item-details .reserve-button:active,
.ding-item-list-item .item-details .reserve-button:active,
.form-submit, #edit-cancel, .search .form-submit,
.search-field-in-content .form-submit,
.user .form-submit,
.field-name-ding-entity-buttons .action-button,
.bookmark-button { 
  background: $label-bg-color;
  box-shadow: none;
}
